.list {
  width: 30%;
  margin: auto;
}

.navbar {
  display: flex;
  width: 80%;
  margin: auto;
  border-radius: .5rem;
  justify-content: space-around;
  background: #242529;
  color: #fff;
}
.child {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
.btn{
  display: flex;
  align-items: center;
}
